<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大事件-文章</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<style>
    .cursor {
        cursor: pointer;
    }
</style>

<body>
    <div id="app">
        <div class="header">
            <a href="#" class="logo fl"><img src="images/logo.png" alt="logo"></a>
            <div class="search_form fl">
                <input type="text" class="search_txt" placeholder="黑洞照片">
                <button class="search_btn"><i class="fa fa-search"></i></button>
            </div>
            <div class="link_info fr">
                <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a><br>
                <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
            </div>
        </div>

        <div class="menu_con">
            <div class="menu">
                <div class="menu_collapse fl">
                    <a href="javascript:;" class="level_one"><i class="fa fa-list-ul"></i>全部分类</a>
                    <ul class="level_two">
                        <li class="up"></li>
                        <li class="cursor" v-for="(item, index) in lists" :key="index" @click="quclick(item.id)">
                            <a>{{item.name}}</a>
                        </li>
                    </ul>
                </div>
                <ul class="left_menu fl">
                    <li class="cursor" v-for="(item, index) in lists" :key="index" @click="qusclick(item.id)">
                        <a>{{item.name}}</a></li>
                </ul>
                <ul class="right_menu fr">
                    <li><a href="#">科技专题</a></li>
                    <li><a href="#">财经专题</a></li>
                </ul>
            </div>
        </div>

        <div class="main_con clearfix">
            <cpn></cpn>
            <div class="right_con setfl">
                <div class="common_wrap">
                    <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
                    <!-- 热门排行模板 -->
                    <cpc></cpc>
                </div>
                <div class="common_wrap">
                    <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
                    <!-- 最新评论模板 -->
                    <cpd></cpd>
                </div>
                <div class="common_wrap">
                    <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
                    <!-- 焦点关注 模板 -->
                    <cpe></cpe>
                </div>
            </div>
        </div>

        <div class="footer clearfix">
            <div class="foot_link">
                <a href="#">关于我们</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span>|</span>
                <a href="#">招聘人才</a>
                <span>|</span>
                <a href="#">友情链接</a>
            </div>
            <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
            <p>电话：0755-****888 粤ICP备*******8号</p>
        </div>

    </div>
    <template id="cpn">
        <div>
            <div class="left_con setfr">
                <div class="breadcrumb">
                    当前位置： <a href="#">首页</a> &gt; <a href="#">科技</a> &gt; 文章详情
                </div>
                <h3 class="article_title">{{list.title}}</h3>
                <div class="article_info">{{list.author}} 发布于 {{list.date}} 07:08:46&nbsp;&nbsp;&nbsp;分类: 奇趣事&nbsp;&nbsp;&nbsp;阅读:
                    ({{list.read}})&nbsp;&nbsp;&nbsp;评论: ({{list.comments}})</div>
                <div class="article_con">
                    <p v-html="list.content"></p>
                </div>
                <div class="article_links">
                    上一篇： <a href="#">{{list.next.title}}</a><br>
                    下一篇： <a href="#">{{list.prev.title}}</a>
                </div>

                <form action="" ref="formName" class="comment_form" v-on:submit.prevent=''>
                    <div class="form_group">
                        <label>用户名：</label>
                        <input type="text" placeholder="请输入用户名" class="comment_name" v-model="author">
                    </div>
                    <div class="form_group">
                        <label>评论内容：</label>
                        <textarea placeholder="请发表您的评论" class="comment_input" v-model="content"></textarea>
                    </div>
                    <div class="form_group">
                        <input type="submit" name="" value="评 论" class="comment_sub" @click="comclick(list.id)"></div>
                </form>

                <div class="comment_count">
                    {{list.comments}}条评论
                </div>

                <div class="comment_list_con">
                    <div class="comment_detail_list"  v-for="(item, index) in list1" :key="index">
                        <div class="person_pic fl">{{item.author.substring(0,1)}}</div>
                        <div class="name_time fl"><b>{{item.author}}</b><span>{{item.date}}</br>{{item.time}}</span></div>
                        <div class="comment_text fl">
                            {{item.content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <!-- 最新评论 -->
    <template id="cpd">
        <div>
            <ul class="content_list comment_list">
                <li v-for="(item, index) in list4" :key="index">
                    <span>{{item.author.substring(0,1)}}</span>
                    <b><em>{{item.author}}</em> {{item.date}}说:</b>
                    <strong>{{item.intro}}</strong>
                </li>
            </ul>
        </div>
    </template>
    <!-- 热门 -->
    <template id="cpc">
        <div>
            <ul class="content_list hotrank_list">
                <li v-for="(item, index) in list" :key="index"><span :class="classs[index]">{{index+1}}</span><a
                        href="#">{{item.title}}</a></li>
            </ul>
        </div>
    </template>
    <!-- 焦点模块 -->
    <template id="cpe">
        <div>
            <ul class="content_list guanzhu_list">
                <li v-for="(item, index) in list5" :key="index"><a href="#">{{item.intro}}</a></li>
            </ul>
        </div>
    </template>
    <!-- 引入模板引擎js文件 -->
    <script src="./js/template-web.js"></script>
    <script src="./js/jquery-1.12.4.min.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/vue.js"></script>

</body>
<script>
    let vm = new Vue({
        el: "#app",
        data() {
            return {
                lists : []
            }
        },
        created() {
            axios.get('http://localhost:8080/api/v1/index/category').then(({
                data: res
            }) => {
                // console.log(res);
                if (res.code == 200) {
                    this.lists = res.data;
                }
            })
        },
        components: {
            'cpn': {
                template: '#cpn',
                data() {
                    return {
                        list :[],
                        list1 : [],
                        author : '',
                        content : ''
                    }
                },
                methods: {
                    huo(id) {
                        let b;
                        $.ajax({
                            type: 'get',
                            url: 'http://localhost:8080/api/v1/index/article',
                            dataType: 'json',
                            async: false,
                            data : {
                                id:id
                            },
                            success : (backDate)=>{
                                if (backDate.code ==200) {
                                    b = backDate.data
                                    // console.log(backDate);
                                }
                            }
                        })
                        return b
                    },
                    huos(id) {
                        let b;
                        $.ajax({
                            type: 'get',
                            url: 'http://localhost:8080/api/v1/index/get_comment',
                            dataType: 'json',
                            async: false,
                            data : {
                                articleId:id
                            },
                            success : (backDate)=>{
                                if (backDate.code ==200) {
                                    b = backDate.data
                                    console.log(backDate);
                                }
                            }
                        })
                        return b
                    },
                    // 评论页面的管理
                    comclick(id) {
                        let params = new URLSearchParams();
                        params.append('articleId',id);
                        params.append('author',this.author);
                        params.append('content',this.content);
                        axios.post('http://localhost:8080/api/v1/index/post_comment',params).then(({data : res}) =>{
                            if (res.code == 200) {
                                alert('发表评论成功,等待管理员批准!');
                            }
                        })
                    }
                },
                created() {
                    let value1 = location.href.split('=')[1];
                    let b = this.huo(value1)
                    let c = this.huos(value1)
                    this.list = b;
                    this.list1 = c;
                },
            },
            'cpd': {
                template: '#cpd',
                data() {
                    return {
                        list4: [],
                    }
                },
                created() {
                    // 页面一加载发送ajax 请求渲染页面  
                    axios.get('http://localhost:8080/api/v1/index/latest_comment').then(({
                        data: res
                    }) => {
                        // console.log(res);
                        if (res.code == 200) {
                            this.list4 = res.data;
                        }
                    })
                },
            },
            'cpc': {
                template: '#cpc',
                data() {
                    return {
                        list: [],
                        // 存类名
                        classs: ['first', 'second', 'third']
                    }
                },
                created() {
                    // 页面一加载发送ajax 请求渲染页面  
                    axios.get('http://localhost:8080/api/v1/index/rank').then(({
                        data: res
                    }) => {
                        // console.log(res);
                        if (res.code == 200) {
                            this.list = res.data;
                        }
                    })
                },
            },
            'cpe': {
                template: '#cpe',
                data() {
                    return {
                        list5: [],
                    }
                },
                created() {
                    // 页面一加载发送ajax 请求渲染页面  
                    axios.get('http://localhost:8080/api/v1/index/attention').then(({
                        data: res
                    }) => {
                        // console.log(res);
                        if (res.code == 200) {
                            this.list5 = res.data;
                        }
                    })
                },
            }
        }
    });
</script>

</html>