<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>大事件-后台登录页</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css" />
  <link rel="stylesheet" type="text/css" href="css/iconfont.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <!-- 引入bootstrap的css文件 -->
  <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css" />
  <!-- 引入jq文件 -->
  <script src="./libs/jquery-1.12.4.min.js"></script>
  <!-- 引入bootstrap的js文件 -->
  <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <script src="./libs/axios.js"></script>


</head>

<body>
  <div class="main_wrap" id="app">
    <div class="header">
      <a href="#" class="logo"><img src="images/logo.png" alt="" /></a>
      <div class="copyright">
        CopyRight © 2019 深圳百秀信息技术股份有限公司<br />All Rights Reserved
      </div>
    </div>

    <div class="login_form_con">
      <div class="login_title"></div>
      <form ref="reference" class="login_form" v-on:submit.prevent=''>
        <i class="iconfont icon-user"></i>
        <i class="iconfont icon-key"></i>
        <input type="text" class="input_txt" placeholder="邮箱/手机号" v-model="username" />
        <input type="password" class="input_pass" placeholder="密码" v-model="password" />
        <input type="submit" @click="dclick" class="input_sub" value="登 录" />
      </form>
    </div>

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button> -->

    <!-- Modal -->

  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
          <!-- <button type="button" class="btn btn-primary">取消</button> -->
        </div>
      </div>
    </div>
  </div>

</body>
<script src="./libs/http.js"></script>
<script src="./libs/vue.js"></script>
<script>
  let vm = new Vue({
    el: "#app",
    data() {
      return {
        username: '',
        password: ''
      }
    },
    // 登录的按钮
    methods: {
      async dclick() {
        // 提示信息
        let username = this.username;
        let password = this.password;
        if (username == '' || password == '') {
          $('#myModal').modal();
        }
        // 这样 登录上传的格式  不是 josn 而是一个字符串
        const params = new URLSearchParams();
        params.append('username', username);
        params.append('password', password);
        let ret = await axios.post(BigNew.user_login, params);
        console.log(ret);
        if (ret.data.code == 200) {
          window.sessionStorage.setItem('token', ret.data.token);
          $('.modal-body').text(ret.data.msg);
          $('#myModal').modal();
          $('#myModal').on('hidden.bs.modal', function (e) {
            location.href = './index.html';
          })
        } else {
          $('.modal-body').text(ret.data.msg)
          $('#myModal').modal();
        }


        // ajax的方法
        // $.ajax({
        //     type: 'post',
        //     url: BigNew.user_login,
        //     data : {
        //       username :username,
        //       password :password
        //     },
        //     success(backData) {
        //       if (backData.code == 200) {
        //         window.sessionStorage.setItem('token', backData.token);
        //         $('.modal-body').text(backData.msg);
        //         $('#myModal').modal();
        //         $('#myModal').on('hidden.bs.modal', function (e) {
        //           location.href = './index.html';
        //         })
        //       } else {
        //         $('.modal-body').text(backData.msg)
        //         $('#myModal').modal();
        //       }
        //     }
        // })
    }


  },
  });
</script>

</html>